{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Title -->
        <title>Meteor | Responsive Admin Dashboard Template</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="stacks" />
        
        <!-- Styles -->
        <link href="{% static 'dashboard/assets/plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet"/>
        <link href="{% static 'dashboard/assets/plugins/uniform/css/default.css' %}" rel="stylesheet"/>
        <link href="{% static 'dashboard/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/plugins/fontawesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'dashboard/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'dashboard/assets/plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'dashboard/assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'dashboard/assets/plugins/weather-icons-master/css/weather-icons.min.css' %}" rel="stylesheet" type="text/css"/>	
        <link href="{% static 'dashboard/assets/plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css"/>	
        	
        <!-- Theme Styles -->
        <link href="{% static 'dashboard/assets/css/meteor.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/css/layers/light-layer.css' %}" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="{% static 'dashboard/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>
        
        <script src="{% static 'dashboard/assets/plugins/3d-bold-navigation/js/modernizr.js' %}"></script>

    </head>
    <body class="compact-menu">
        <div class="overlay"></div>
        {% include 'snippets/navbar_message.html' %}
        {% include 'snippets/search_form.html' %}
        <main class="page-content content-wrap">
            {% include 'snippets/navbar.html' %}
            {% include 'snippets/sidebar.html' %}
            <div class="page-inner">
                
                {% block content %}
                  
                {% endblock content %}
                  
                {% include 'snippets/footer.html' %}
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
        {% include 'snippets/demo_navbar.html' %}
        <div class="cd-overlay"></div>
        {% include 'snippets/script.html' %}
    </body>
</html>