<nav class="cd-nav-container" id="cd-nav">
  <header>
      <h3>DEMOS</h3>
  </header>
  <div class="col-md-6 demo-block">
      <a href="../admin1/index.html"><p>Dark<br>Design</p></a>
  </div>
  <div class="col-md-6 demo-block demo-active">
      <p>Light<br>Design</p>
  </div>
  <div class="col-md-6 demo-block">
      <a href="../admin3/index.html"><p>Material<br>Design</p></a>
  </div>
  <div class="col-md-6 demo-block demo-coming-soon">
      <p>Horizontal<br>(Coming)</p>
  </div>
  <div class="col-md-6 demo-block demo-coming-soon">
      <p>Coming<br>Soon</p>
  </div>
  <div class="col-md-6 demo-block demo-coming-soon">
      <p>Coming<br>Soon</p>
  </div>
</nav>