{% load static %}

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
  <h3><span class="pull-left">Messages</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="icon-close"></i></a></h3>
  <div class="slimscroll">
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar2.png' %}" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar3.png' %}" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar4.png' %}" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar5.png' %}" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar2.png' %}" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar3.png' %}" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar4.png' %}" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
      <a href="javascript:void(0);" class="showRight2"><img src="{% static 'dashboard/assets/images/avatar5.png' %}" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
  </div>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <h3><span class="pull-left">Michael Lewis</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
  <div class="slimscroll chat">
      <div class="chat-item chat-item-left">
          <div class="chat-image">
              <img src="{% static 'dashboard/assets/images/avatar2.png' %}" alt="">
          </div>
          <div class="chat-message">
              Duis aute irure dolor?
          </div>
      </div>
      <div class="chat-item chat-item-right">
          <div class="chat-message">
              Lorem ipsum dolor sit amet, dapibus quis, laoreet et.
          </div>
      </div>
      <div class="chat-item chat-item-left">
          <div class="chat-image">
              <img src="{% static 'dashboard/assets/images/avatar2.png' %}" alt="">
          </div>
          <div class="chat-message">
              Ut ullamcorper, ligula.
          </div>
      </div>
      <div class="chat-item chat-item-right">
          <div class="chat-message">
              In hac habitasse platea dict umst. ligula eu tempor eu id tincidunt.
          </div>
      </div>
      <div class="chat-item chat-item-left">
          <div class="chat-image">
              <img src="{% static 'dashboard/assets/images/avatar2.png' %}" alt="">
          </div>
          <div class="chat-message">
              Curabitur pretium?
          </div>
      </div>
      <div class="chat-item chat-item-right">
          <div class="chat-message">
              Etiam tempor. Ut tempor! ull amcorper.
          </div>
      </div>
  </div>
  <div class="chat-write">
      <form class="form-horizontal" action="javascript:void(0);">
          <input type="text" class="form-control" placeholder="Say something">
      </form>
  </div>
</nav>