<form class="search-form" action="#" method="GET">
  <div class="input-group">
      <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
      <span class="input-group-btn">
          <button class="btn btn-default close-search" type="button"><i class="icon-close"></i></button>
      </span>
  </div><!-- Input Group -->
</form><!-- Search Form -->