{% load static %}

<div class="page-sidebar sidebar">
  <div class="page-sidebar-inner slimscroll">
      <ul class="menu accordion-menu">
          <li class="active"><a href="index.html" class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>Dashboard</p><span class="active-page"></span></a></li>
          <li><a href="profile.html" class="waves-effect waves-button"><span class="menu-icon icon-user"></span><p>Profile</p></a></li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-envelope-open"></span><p>Mailbox</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="inbox.html">Inbox</a></li>
                  <li><a href="message-view.html">View Message</a></li>
                  <li><a href="compose.html">Compose</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-puzzle"></span><p>UI Kits</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="ui-alerts.html">Alerts</a></li>
                  <li><a href="ui-buttons.html">Buttons</a></li>
                  <li><a href="ui-icons.html">Icons</a></li>
                  <li><a href="ui-typography.html">Typography</a></li>
                  <li><a href="ui-notifications.html">Notifications</a></li>
                  <li><a href="ui-grid.html">Grid</a></li>
                  <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                  <li><a href="ui-modals.html">Modals</a></li>
                  <li><a href="ui-panels.html">Panels</a></li>
                  <li><a href="ui-progress.html">Progress Bars</a></li>
                  <li><a href="ui-sliders.html">Sliders</a></li>
                  <li><a href="ui-nestable.html">Nestable</a></li>
                  <li><a href="ui-tree-view.html">Tree View</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-layers"></span><p>Layouts</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="layout-blank.html">Blank Page</a></li>
                  <li><a href="layout-boxed.html">Boxed Page</a></li>
                  <li><a href="layout-horizontal-menu.html">Horizontal Menu</a></li>
                  <li><a href="layout-horizontal-menu-boxed.html">Boxed &amp; Horizontal Menu</a></li>
                  <li><a href="layout-horizontal-menu-minimal.html">Horizontal Menu Minimal</a></li>
                  <li><a href="layout-fixed-sidebar.html">Fixed Sidebar</a></li>
                  <li><a href="layout-fixed-header.html">Fixed Header</a></li>
                  <li><a href="layout-collapsed-sidebar.html">Collapsed Sidebar</a></li>
                  <li><a href="layout-menu-alt.html">Menu Alt</a></li>
                  <li><a href="layout-hover-menu.html">Hover Menu</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-grid"></span><p>Tables</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="table-static.html">Static Tables</a></li>
                  <li><a href="table-responsive.html">Responsive Tables</a></li>
                  <li><a href="table-data.html">Data Tables</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-pencil"></span><p>Forms</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="form-elements.html">Form Elements</a></li>
                  <li><a href="form-wizard.html">Form Wizard</a></li>
                  <li><a href="form-upload.html">File Upload</a></li>
                  <li><a href="form-image-crop.html">Image Crop</a></li>
                  <li><a href="form-image-zoom.html">Image Zoom</a></li>
                  <li><a href="form-select2.html">Select2</a></li>
                  <li><a href="form-x-editable.html">X-editable</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-pie-chart"></span><p>Charts</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="charts-rickshaw.html">Rickshaw</a></li>
                  <li><a href="charts-morris.html">Morris</a></li>
                  <li><a href="charts-flotchart.html">Flotchart</a></li>
                  <li><a href="charts-chartjs.html">Chart.js</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-power"></span><p>Login</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="login.html">Login Form</a></li>
                  <li><a href="login-alt.html">Login Alt</a></li>
                  <li><a href="register.html">Register Form</a></li>
                  <li><a href="register-alt.html">Register Alt</a></li>
                  <li><a href="forgot.html">Forgot Password</a></li>
                  <li><a href="lock-screen.html">Lock Screen</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-pointer"></span><p>Maps</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="maps-google.html">Google Maps</a></li>
                  <li><a href="maps-vector.html">Vector Maps</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-present"></span><p>Extra</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li><a href="404.html">404 Page</a></li>
                  <li><a href="500.html">500 Page</a></li>
                  <li><a href="invoice.html">Invoice</a></li>
                  <li><a href="calendar.html">Calendar</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="todo.html">Todo</a></li>
                  <li><a href="pricing-tables.html">Pricing Tables</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="search.html">Search Results</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </li>
          <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon icon-energy"></span><p>Levels</p><span class="arrow"></span></a>
              <ul class="sub-menu">
                  <li class="droplink"><a href="#"><p>Level 1.1</p><span class="arrow"></span></a>
                      <ul class="sub-menu">
                          <li class="droplink"><a href="#"><p>Level 2.1</p><span class="arrow"></span></a>
                              <ul class="sub-menu">
                                  <li><a href="#">Level 3.1</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Level 2.2</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Level 1.2</a></li>
              </ul>
          </li>
      </ul>
  </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->